.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.cell {
  margin: auto;
  margin-bottom: 15px;
  padding: 5px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  width: 75%;
}
.cell h3 {
  color: white;
  text-shadow: 0px 2px black;
}

.link {
  cursor: pointer;
}

.cover {
  height: 265;
  width: 185;
}

.shadow {
  box-shadow: 6px 5px 5px;
}
.test {
  border-style: solid;
  border-color: green;
}
.description { 
  font-family: Times New Roman; 
  background-color: white;
  border-radius: 5px;
}

body { 
  font-family: Raleway;
}

.background {  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: initial;
  padding-top: 65px;
}

.bg {background-color: #E0E0E0;}

.tester  {background-color: red;}