
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.link {
  cursor: hand;
}
.cover {
  height: 265;
  width: 185;
}

.test {
  border-style: solid;
  border-color: green;
}
.tester  {background-color: red;}