
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.link {
  cursor: hand;
}
.cover {
  height: 265;
  width: 185;
}

.test {
  border-style: solid;
  border-color: green;
}
.description { 
  font-family: Times New Roman; 
  background-color: white;
  border-radius: 5px;
}

body { font-family: Raleway;}
.bg {background-color: #E0E0E0;}
.tester  {background-color: red;}